@charset "UTF-8";
/*ホーム画面*/
body {
    background-image: url(画像フォルダ/IMG_3730.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    color: aquamarine;
}
div {
    background-color: orange;
    width: 30vw;
    height: 200px;
    margin: 100px 35vw 100px 35vw;
    color:rgb(13, 203, 19);
    font-size: 4vw;
    text-align: center;
}
/*診断画面*/
section p {
    width: 30vw;
    height: 200px;
    margin: 100px 35vw 0 35vw;
    font-size: 4vw;
}
#btn_q1{
    width: 15vw;
    height: 200px;
    margin: 100px 5vw 100px 30vw;
}
#btn_q2{
    width: 15vw;
    height: 200px;
}
#btn_home{
    background-color: aquamarine;
    margin:0 45vw 0 45vw;
    width: 10vw;
    height: 50px;
}
#btn_fi{
    margin:0 45vw 0 45vw;
    width: 10vw;
    height: 50px;
}
/*結果画面*/
#kekka{
    margin:0 45vw 0 45vw;
    width: 10vw;
    height: 50px;
}
